##############################
## TERRAFORM (Infra/)
##############################

.terraform/

terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

terraform.tfvars
*.tfvars

crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

##############################
## DOCKER
##############################

*.log
*.tar
*.img
docker-data/
docker-compose.override.yml

##############################
## VSCODE
##############################
.vscode/
*.code-workspace

##############################
## FRONTEND (no ignora HTML/CSS)
##############################
node_modules/
dist/
build/

##############################
## SISTEMAS OPERATIVOS
##############################

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride

*.swp

##############################
## OTROS
##############################
venv/
.env/
.env.*

*~
